<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klessify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments/general-fragments :: navbar}"></div>

<div th:insert="~{fragments/general-fragments :: jumbotron(about)}"></div>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h5 class="fw-light" th:text=" #{WekaAlgorithms.information}"> _offline_</h5>
        </div>
    </div>
</section>


<div th:insert="~{fragments/general-fragments :: footer}"></div>
</body>
</html>