<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klessify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments/general-fragments :: navbar}"></div>

<div th:insert="~{fragments/general-fragments :: jumbotron(about)}"></div>

<div class="py-5 container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p th:utext=" #{about.text}"> _offline_</p>
        </div>
    </div>
</div>


<div th:insert="~{fragments/general-fragments :: footer}"></div>
</body>
</html>