<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    Author: Jelle 387615-->
    <meta charset="UTF-8">
    <title>Klessify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{fragments/general-fragments :: navbar}"></div>

<div th:insert="~{fragments/general-fragments :: jumbotron(contact)}"></div>

<div class="container">
    <div class="row justify-content-center m-3">
        <div th:each="name:${names}">
            <div th:replace="~{fragments/general-fragments :: contact-cart(${name})}"></div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/general-fragments :: footer}"></div>

</body>
</html>