<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    Author: Jelle Becirspahic 387615-->
    <meta charset="UTF-8">
    <title>Klessify</title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{'/home'}">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="d-inline-block align-center" viewBox="0 0 16 16">
            <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a th:href="@{'/home'}" th:text="#{navbar.home}" class="nav-link">_home_</a>
            </li>
            <li class="nav-item">
                <a th:href="@{'/about'}" th:text="#{navbar.about}" class="nav-link">_About_</a>
            </li>
            <li class="nav-item">
                <a th:href="@{'/contact'}" th:text="#{navbar.contact}" class="nav-link">_Contact_</a>
            </li>
            <li class="nav-item">
                <a th:href="@{'https://www.cs.waikato.ac.nz/ml/weka/'}" href="https://www.cs.waikato.ac.nz/ml/weka/"
                   class="nav-link">Weka</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-left" th:fragment="jumbotron(page)">
    <div class="container">
        <h1 class="jumbotron-heading text-center" th:text="#{'' + ${page} + '.title'}">Welcome</h1>
        <p class="lead text-center" th:utext="#{'' + ${page} + '.subtitle'}">Explore the features of Weka and discover machine learning.</p>
    </div>
</div>

<!--Fragment for contact cards-->
<div class="col-lg-3" th:fragment="contact-cart(name)">
    <div class="card m-3" style="width: 18rem;">
        <img th:src="@{'images\\' + ${name} + '.jpeg'}" width="auto" height="auto" class="card-img-top"
             th:alt="#{'' + ${name} + '.name'}">
        <div class="card-body">
            <h5 class="card-title" th:text="#{'' + ${name} + '.name'}"></h5>
            <p class="card-text" th:text="#{'' + ${name} + '.info'}"></p>
            <p th:text="#{'' + ${name} + '.email'}"></p>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://www.hanze.nl/nld/">Hanze University Groningen</a>
    </div>
    <!-- Copyright -->
</footer>

<div id="list_fragmentHistory" th:fragment="HistoryList">
    <!--   Author: Bart Engels 382612-->

        <div class="list-group">
                <table>
                <thead>
                <h1 th:text="${HistoryList}"></h1>
                <tr>
                    <th th:text="#{history.time}"></th>
                    <th th:text="#{history.usedFile}"></th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${msg}">_offline_</td>
                <td th:text="${msg}">_offline_</td>
                    <tr th:each="informationAlgorithms:${info}" th:object="${info}" >
                        <td th:text="${informationAlgorithms.getSimpleDateFormat}">_offline_</td>
                        <td><a th:href="@{'/history/' + ${informationAlgorithms.algorithmsName}}"
                               th:text="${informationAlgorithms.algorithmsName}" class="text-body"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

<div id="list_fragmentFileUploads" th:fragment="HistoryList">
    <!--   Author: Bart Engels 382612-->
    <div class="list-group">
        <table>
            <thead>
            <tr>
                <th th:text="#{history.uploaded}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file:${uploadedFile}" th:object="${uploadedFile}" >
                <td><a th:href="@{'/history/' + ${file}}"
                                     th:text="${file}" class="text-body"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>