<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--All algorithm parameters written by Author: Jelle 387615-->
<div th:fragment="batchSizeParameter(algorithmName)">
    <label th:for="batchsize + ${algorithmName}" class="form-label" th:text="#{max.batchsize}">BatchSize</label><br>
    <input th:name="batchsize + ${algorithmName}" th:id="batchsize + ${algorithmName}" type="number" value="100"><br>
</div>

<div th:fragment="debugParameter(algorithmName)">
    <label th:for="debug + ${algorithmName}" class="form-label" th:text="#{debug.par}">debug</label><br>
    <select th:id="debug + ${algorithmName}" th:name="debug + ${algorithmName}">
        <option th:text="#{true}" value="true">True</option>
        <option th:text="#{false}" value="false">False</option>
    </select><br>
</div>

<div th:fragment="doNotCheckCapParameter(algorithmName)">
    <label th:text = "#{doNotCheck.par}" class="form-label" th:for='doNotCheckCapabilities + ${algorithmName}'>doNotCheckCapabilities</label><br>
    <select th:id="doNotCheckCapabilities + ${algorithmName}" th:name="doNotCheckCapabilities + ${algorithmName}">
        <option th:text="#{true}" value="true">True</option>
        <option th:text="#{false}" value="false">False</option>
    </select><br>
</div>

<div th:fragment="numDecimalsParameter(algorithmName)">
    <label th:text="#{num.decimal.par}" class="form-label"  th:for="numDecimalPlaces + ${algorithmName}">numDecimalPlaces</label><br>
    <input th:id="numDecimalPlaces + ${algorithmName}" th:name="numDecimalPlaces + ${algorithmName}" type="number" value="2">
</div>

<div th:fragment="minBucketSizeParameter(algorithmName)">
    <label th:text="#{minBucketSize.par}" th:for="minBucketSize + ${algorithmName}">minBucketSize</label><br>
    <input th:id="minBucketSize + ${algorithmName}" th:name="minBucketSize + ${algorithmName}" type="number" value="6"><br>
</div>

<div th:fragment="confidenceFactorParameter(algorithmName)">
    <label th:text="#{confidenceFactor.par}" class="form-label" th:for="confidenceFactor + ${algorithmName}">confidence factor</label><br>
    <input th:id="confidenceFactor + ${algorithmName}" th:name="confidenceFactor + ${algorithmName}" type="number" value="0.25"><br>
</div>

<div th:fragment="minNumObjectParameter(algorithmName)">
    <label th:text="#{minNumObj.par}" class="form-label" th:for="minNumObj + ${algorithmName}">minNumObj</label><br>
    <input th:id="minNumObj + ${algorithmName}" th:name="minNumObj + ${algorithmName}" type="number" value="2" min="2"><br>
</div>

<div th:fragment="numFoldsParameter(algorithmName)">
    <label th:text="#{numFold.par}" class="form-label" th:for="numFolds + ${algorithmName}">numFolds</label><br>
    <input th:id="numFolds + ${algorithmName}" th:name="numFolds + ${algorithmName}" type="number" value="3"><br>
</div>

<div th:fragment="prunedParameter(algorithmName)">
    <label th:text="#{pruned.par}" th:for="pruned + ${algorithmName}" class="form-label">pruned</label><br>
    <select th:id="pruned + ${algorithmName}" th:name="pruned + ${algorithmName}">
        <option th:text="#{true}" value="true">True</option>
        <option th:text="#{false}" value="false">False</option>
    </select><br>
</div>

<div th:fragment="laPlaceParameter(algorithmName)">
    <label th:text="#{laPlace.par}" th:for="laPlace + ${algorithmName}" class="form-label">pruned</label><br>
    <select th:id="laPlace + ${algorithmName}" th:name="laPlace + ${algorithmName}">
        <option th:text="#{true}" value="true">True</option>
        <option th:text="#{false}" value="false">False</option>
    </select><br>
</div>

<div th:fragment="KnnParameter(algorithmName)">
    <label th:text="#{knn.par}" th:for="KNN + ${algorithmName}">KNN</label><br>
    <input th:id="KNN + ${algorithmName}" th:name="KNN + ${algorithmName}" type="number" value="1" min="1"><br>
</div>

<div th:fragment="crossValidateParameter(algorithmName)">
    <label th:text="#{crossValidate.par}" th:for="crossValidate + ${algorithmName}" class="form-label">cross validate</label><br>
    <select th:id="crossValidate + ${algorithmName}" th:name="crossValidate + ${algorithmName}">
        <option th:text="#{true}" value="true">True</option>
        <option th:text="#{false}" value="false">False</option>
    </select><br>
</div>

<div th:fragment="nnSearchAlgorithmParameter(algorithmName)">
    <label th:text="#{nnsearchAlgorithm.par}" th:for="nnSearchAlgorithm + ${algorithmName}">nnSearchAlgorithm</label><br>
    <select th:id="nnSearchAlgorithm + ${algorithmName}" th:name="nnSearchAlgorithm + ${algorithmName}">
        <option value="BallTree">BallTree</option>
        <option value="CoverTree">CoverTree</option>
        <option value="FilteredNeighbourSearch">FilteredNeighbourSearch</option>
        <option value="KDTree">KDtree</option>
        <option value="LinearNNSearch">LinearNNSearch</option>
    </select><br>
</div>

<div th:fragment="ZeroR">
    <form class="form">
        <div th:insert="~{/fragments/parameter-fragments :: batchSizeParameter('ZeroR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: debugParameter('ZeroR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: doNotCheckCapParameter('ZeroR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numDecimalsParameter('ZeroR')}"></div>
    </form>
</div>

<div th:fragment="OneR">
    <form class="form">
        <div th:insert="~{/fragments/parameter-fragments :: batchSizeParameter('OneR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: debugParameter('OneR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: doNotCheckCapParameter('OneR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: minBucketSizeParameter('OneR')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numDecimalsParameter('OneR')}"></div>
    </form>
</div>

<div th:fragment="IBK">
    <form class="form">
        <div th:insert="~{/fragments/parameter-fragments :: KnnParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: batchSizeParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: crossValidateParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: debugParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: doNotCheckCapParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: nnSearchAlgorithmParameter('IBK')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numDecimalsParameter('IBK')}"></div>
    </form>
</div>

<div th:fragment="NaiveBayes">
    <form class="form">
        <div th:insert="~{/fragments/parameter-fragments :: batchSizeParameter('NaiveBayes')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: debugParameter('NaiveBayes')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: doNotCheckCapParameter('NaiveBayes')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numDecimalsParameter('NaiveBayes')}"></div>
    </form>
</div>

<div th:fragment="J48">
    <form class="form">
        <div th:insert="~{/fragments/parameter-fragments :: batchSizeParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: confidenceFactorParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: debugParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: doNotCheckCapParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: minNumObjectParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numDecimalsParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: numFoldsParameter('J48')}"></div>
        <div th:insert="~{/fragments/parameter-fragments :: prunedParameter('J48')}"></div>
    </form>
</div>

</body>
</html>