<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--    Author: Marijke Eggink 370419-->
  <meta charset="UTF-8">
  <title>Klessify</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

<div th:fragment="file-upload-form" id="file-upload-form">
  <form th:action="@{'/workbench'}" method="post" enctype="multipart/form-data">
    <div>
      <label for="file-name" th:text="#{form.select}"></label><br>
      <select class="form-select custom-select" id="file-name" name="filename">
        <option th:text="#{form.file.select}"></option>
        <option th:each="file: ${filenames}" th:value="${file}" th:text="${file}"></option>
      </select>
    </div>
    <div class="pt-2">
      <p th:text="#{form.upload}"></p>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputFile" name="inputFile">
      <label class="custom-file-label" for="inputFile" th:text="#{form.choose}"></label>
    </div>
    <input type="submit" value="submit" class="btn btn-outline-secondary">
    <input type="reset" value="reset" class="btn btn-outline-secondary">
  </form>
</div>

<div th:fragment="explorer-tab" id="explorer-tab">
  <h4 class="mt-2">Explorer</h4>
  <div th:if="${data}">
    <label for="attribute">Attributes</label><br>
    <select id="attribute" th:data-map="${data}" th:data-cl="${classLabel}"
            onchange="plotData(this.getAttribute('data-map'), this.value, this.getAttribute('data-cl'))"
            onload="plotData(this.getAttribute('data-map'), this.value, this.getAttribute('data-cl'))">
      <option>Select attribute</option>
      <option th:each="attribute:${attributes}" th:text="${attribute}" th:value="${attribute}"></option>
    </select>
  </div>
  <div style="height: 400px; width: 800px">
    <div id="plot"></div>
  </div>
</div>

<div th:fragment="classify-tab" id="classify-tab" class="ml-1">
  <h4 class="mt-2">Classify</h4>
  <form id="form-shower">
    <label th:text="#{form.classifier.select}"></label> <br>
    <select class="form-select custom-select" id="classifier" name="classifier" onChange="changeForm(this)">
      <option th:each="name:${classifierNames}" th:value="${name}" th:text="${name}"></option>
    </select>
  </form>
  <div id="ZeroR" th:insert="~{/fragments/parameter-fragments :: ZeroR}"></div>
  <div id="OneR" th:insert="~{/fragments/parameter-fragments :: OneR}"></div>
  <div id="NaiveBayes" th:insert="~{/fragments/parameter-fragments :: NaiveBayes}"></div>
  <div id="IBK" th:insert="~{/fragments/parameter-fragments :: IBK}"></div>
  <div id="J48" th:insert="~{/fragments/parameter-fragments :: J48}"></div>
</div>

<div th:fragment="results" id="results-tab">
  <h4>Results</h4>
  <p th:unless="${evaluation}" th:text="#{results.message}"></p>
  <div th:if="${evaluation}">
    <button type="button" class="btn btn-outline-secondary my-2" data-toggle="collapse" data-target="#advanced-stats">Advanced Stats</button>
    <br>
    <div th:object="${evaluation}">
      <pre th:text="#{results.instances.num} + *{#numbers.formatInteger(numInstances(), 0)}"></pre>
      <pre th:text="#{results.correct} + *{#numbers.formatInteger(correct(), 0)}"></pre>
      <pre th:text="#{results.incorrect} + *{#numbers.formatInteger(incorrect(), 0)}"></pre>
      <pre th:text="#{results.perc.correct} + *{#numbers.formatDecimal(pctCorrect(), 0, 2)} + ' %'"></pre>
      <pre th:text="#{results.perc.incorrect} + *{#numbers.formatDecimal(pctIncorrect(), 0, 2)} + ' %'"></pre>
      <div id="advanced-stats" class="collapse">
        <pre th:text="#{results.kappa} + *{#numbers.formatDecimal(kappa(), 0, 2)}"></pre>
        <pre th:text="#{results.mean.abs} + *{#numbers.formatDecimal(meanAbsoluteError(), 0, 2)}"></pre>
        <pre th:text="#{results.mean.squared} + *{#numbers.formatDecimal(rootMeanSquaredError(), 0, 2)}"></pre>
        <pre th:text="#{results.relative.abs} + *{#numbers.formatDecimal(relativeAbsoluteError(), 0, 2)} + ' %'"></pre>
        <pre th:text="#{results.relative.squared} + *{#numbers.formatDecimal(rootRelativeSquaredError(), 0, 2)} + ' %'"></pre>
      </div>
      <br>
      <pre>Confusion Matrix: </pre>
      <pre th:text="*{toMatrixString('')}"></pre>
    </div>
  </div>
</div>

</body>
</html>