<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    <label for="algorithm">Algorithm</label>
    <select id="algorithm" onchange="getAlgorithmParams(this.value)">
        <option value="">Select Algorithm</option>
        <option value="ZeroR">ZeroR</option>
        <option value="OneR">OneR</option>
        <option value="NaiveBayes">Naive Bayes</option>
        <option value="IBK">IBK</option>
        <option value="J48">J48</option>
    </select>
    <br>
    <div id="algParams" class="container shadow" style="padding: 30px; border: dimgray 0 solid; border-radius: 5px">
        <div class="row justify-content-center">
            <div class="col-6">
                <p>Algorithm parameters</p>
                <div id="ZeroR" hidden th:insert="~{/fragments/parameter-fragments :: ZeroR}"></div>
                <div id="OneR" hidden th:insert="~{/fragments/parameter-fragments :: OneR}"></div>
                <div id="NaiveBayes" hidden th:insert="~{/fragments/parameter-fragments :: NaiveBayes}"></div>
                <div id="IBK" hidden th:insert="~{/fragments/parameter-fragments :: IBK}"></div>
                <div id="J48" hidden th:insert="~{/fragments/parameter-fragments :: J48}" class="container"></div>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    getAlgorithmParams = function (elementID){
        hideAllFragments();
        if(elementID !== ""){
            document.getElementById(elementID).hidden = false;
        }
    }
    hideAllFragments = function (){
        document.getElementById("ZeroR").hidden = true;
        document.getElementById("OneR").hidden = true;
        document.getElementById("NaiveBayes").hidden = true;
        document.getElementById("IBK").hidden = true;
        document.getElementById("J48").hidden = true;
    }
</script>
</body>
</html>