<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--@author Marijke Eggink -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Klessify</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{fragments :: navbar}"></div>

<div class="container pt-3">
  <div class="row">
    <h2>Weka Explorer</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-4-md">
      <form th:action="@{'/upload'}" method="post">
        <div>
          <label for="file-name" th:text="#{form.select}"></label><br>
          <select class="form-select custom-select" id="file-name" name="filename">
            <option th:text="#{form.file.select}"></option>
            <option th:each="file: ${filenames}" th:value="${file}" th:text="${file}"></option>
          </select>
        </div>
        <div class="pt-2">
          <p th:text="#{form.upload}"></p>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputFile">
          <label class="custom-file-label" for="inputFile" th:text="#{form.choose}"></label>
        </div>
<!--        <div class="pt-3">-->
<!--          <p th:text="#{form.classifier.select}"></p>-->
<!--        </div>-->
<!--        <div th:each="name:${classifierNames}">-->
<!--          <input th:id="${name}" type="radio" name="classifier" th:value="${name}">-->
<!--          <label th:for="${name}" th:text="${name}"></label>-->
<!--        </div>-->
        <input type="submit" value="submit" class="btn btn-outline-secondary">
        <input type="reset" value="reset" class="btn btn-outline-secondary">
      </form>
    </div>
  </div>
</div>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>